beautifulsoup4==4.5.3
better-exceptions==0.1.5
click==6.7
dj-database-url==0.4.2
Django==1.10.5
djangorestframework==3.6.2
gunicorn==19.6.0
Pillow==4.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
requests==2.13.0
uwsgi